{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('public_app') }}
{% endblock %}

{% block body %}
	<div id="accueil-page"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('public_app') }}
{% endblock %}
